/* Techstack Component Styles */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.techstackSection {
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: #0f0f0f;
    color: #e3e3db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    overflow: hidden;
}

.profileImages {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techImg {
    position: relative;
    width: 70px;
    height: 70px;
    padding: 5px;
    cursor: pointer;
    will-change: width, height;
}

.techImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.profileNames {
    position: relative;
    width: 100%;
    height: 15rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

.techName {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
}

.techName h1 {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 15rem;
    font-weight: 900;
    letter-spacing: -0.2rem;
    line-height: 1;
    color: #f93535;
    user-select: none;
    transform: translateY(-120%);
}

.techName.default h1 {
    color: #e3e3db;
    transform: translateY(-20%);
}

.techName h1 :global(.letter) {
    display: inline-block;
    position: relative;
    transform: translateY(100%);
    will-change: transform;
}

@media screen and (max-width: 900px) {
    .techstackSection {
        flex-direction: column-reverse;
    }

    .profileImages {
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
    }

    .techImg {
        width: 60px;
        height: 60px;
        padding: 2.5px;
    }

    .profileNames {
        height: 4rem;
    }

    .techName h1 {
        font-size: 4rem;
        letter-spacing: 0;
    }
}